.binsearch-new{
    /* background-color: blue; */
    text-align: center;
    margin-left: 30%;
    margin-top: 10%;
    margin-right: 30%;
    font-weight: bold !important;
    font-size: 50px;
    /* color:white; */
    /* border: 2px solid red; */
}