body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif ,'Pacifico';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
  /* font-family: 'Pacifico', cursive; */
}

label{
  color: black !important;
  /* border: 2px solid black; */
}


*{
  font-family: 'Cormorant Garamond', serif !important;
  font-weight: bold !important;
}